@font-face {
    font-family: "Estrella";
    src: url(../fonts/estrella.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-Black.ttf);
    font-weight: 800;
}