.grid {
    display: grid;
    gap: 2rem;

    @media (max-width: 960px) {
        display: block;
    }

    .col {
        //margin-bottom: 2rem;

        &.border {
            border: 2px solid $darkblue;
            padding: 1rem;

            @media (max-width: 960px) {
                margin-bottom: 1rem;
            }
        }
    }

    &.half-half {
        grid-template-columns: 1fr 1fr;
    }

    &.three-thirds {
        grid-template-columns: 1fr 1fr 1fr;
    }
}